.navMenu {
    text-align: center;

}
#welcome{
    text-align: center;
    color:chocolate
    
}
#log-button{
    font-weight: bold;
}

.mainInfo {
    text-align: center;
    font-family: sans-serif;

}

h3 {
    text-decoration: underline;

}

table {
    table-layout: auto;
    width: 100%;
}